/* 共通 */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  letter-spacing: 1.3px;
  background-color: rgba(242,244,245);
}

a {
  text-decoration: none;
  color: #fff;
}

.txtl {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.txtm {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.txts {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.txtxs {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.scrollanime {
  opacity: 0;
  } /*一瞬表示されるのを防ぐ*/

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}

/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}

.border {
  font-size: 100px;
  opacity: 0.1;
  font-weight: 700;
  position: relative;
  top: -100px;
  border-bottom: 1px solid black;
}
/* header */
header {
  width: 100%;
  margin: 0 auto;
  height: 900px;
  background-image: url("https://yu-spec.github.io/header.jpg");
  background-size: cover;
  background-position: center;
}

.header-title .txtl {
  font-size: 48px;
  line-height: 900px;
  color: #333333;
  margin: 0;
  text-align: center;
  position: relative;
  top: -20px;
}
/* sub-menu-wrap */
.sub-menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  padding: 40px 0 0 30px;
  z-index: 100;
}

.sub-menu {
  width: 140px;
  margin: 0 3px;
  letter-spacing: 1px;
  text-align: left;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
  overflow: hidden;
}

.sub-menutitle {
  display: block;
  padding: 2px 15px 1px 15px;
  font-size: 13px;
  opacity: 1;
  cursor: pointer;
}

.sub-menutitle::before {
  content: "";
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  float: right;
  margin: 6px 0;
}

.sub-menutitle.ac::before {
  content: "";
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 0;
  border-bottom: 0;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  float: right;
  margin: 6px 0;
}

.sub-menulist ul {
  list-style: none;
  padding: 0 0 0 20px;
}

.sub-menulist li {
  font-size: 13px;
  /* font-family: "Sawarabi Mincho"; */
  font-style: oblique;
  line-height: 2em;
}

.collapse .in {
  display: block;
}

.collapse {
  display: none;
}
/* menu */
.menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #333333;
  line-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: .3s;
  transform: translateY(-100%);
}

.is-show {
  transform: translateY(0);
}

.menu .txtxs {
  margin: 0;
}

.header-menu li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.header-menu li:hover {
  background-color: #BBBBBB;
}

.header-menu ul {
  list-style: none;
  padding: 0;
}
/* about */
.about {
  width: 100%;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  color: black;
}

.about-box {
  padding-top: 75px;
  display: flex;
}

.about-photo {
  width: 50%;
}
/* about-photosp */
.about-photosp {
  display: none;
}

.about-photo img {
  width: 100%;
  opacity: 0.7;
}

.about-profile {
  width: 50%;
  margin-top: 50px;
  text-align: center;
}

.about-title .txts {
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  margin: 0;
}

.profile {
  text-align: left;
  margin-left:100px;
}
/* ユーザーアイコン */
.user-icon {
  color: rgb(210,210,210);
  font-size: 40px;
  position: relative;
  right: 70px;
  bottom: -60px;
}

.about-text .txtxs {
  margin: 0;
}
/* status */
.status-title {
  margin: 0 0 50px 100px;
}

.bell-icon {
  color: rgb(210,210,210);
  font-size: 40px;
  position: relative;
  right: 70px;
  bottom: -60px;
}

.charts {
  text-align: center;
}

.status-subtext {
  padding-top: 90px;
}

.status-subtext .txtxs {
  font-size: 14px;
  opacity: 0.6;
  text-align: left;
}
/* チャートのルート */
.chart {
  display: inline-block;
  position: relative;
  margin: 55px;
  width: 240px;
  height: 240px;
}
/* マスク */
.circle-mask-outer,
.circle-mask-inner {
  overflow: hidden;
  position: absolute;
  width: 120px;
  height: 240px;
}
/* 左外側のマスク */
.circle-mask-outer.left {
  left: 0;
}
/* 右外側のマスク */
.circle-mask-outer.right {
  right: 0;
}
/* 内側のマスク */
.circle-mask-inner {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
/* 左内側のマスク */
.circle-mask-outer.left .circle-mask-inner {
  left: 100%;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
/* 右内側のマスク */
.circle-mask-outer.right .circle-mask-inner {
  right: 100%;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* 円 */
.circle-body {
  border-radius: 50%;
  position: absolute;
  width: 240px;
  height: 240px;
}
/* 左の円 */
.circle-mask-outer.left .circle-body {
  right: 0;
}
/* 右の円 */
.circle-mask-outer.right .circle-body {
  left: 0;
}
/* 保留-明日解決する課題- */
.chart-content {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
/* HTML */
#HTML .circle-body {
  background-color: #0078ff;
  opacity: 0.8;
}

.fa-html5 {
  padding-top: 40px;
  font-size: 80px;
  color: rgba(200,200,200);
}
/* CSS */
#CSS .circle-body {
  background-color: #ef6122;
  opacity: 0.8;
}

.fa-css3-alt {
  padding-top: 40px;
  font-size: 80px;
  color: rgba(200,200,200);
}
/* Bootstrap */
#Bootstrap .circle-body {
  background-color: #9a22ef;
  opacity: 0.8;
}

.fa-bootstrap {
  padding-top: 40px;
  font-size: 80px;
  color: rgba(200,200,200);
}
/* jQuery */
#jQuery .circle-body {
  background-color: #138600;
  opacity: 0.8;
}

.fa-js {
  padding-top: 40px;
  font-size: 80px;
  color: rgba(200,200,200);
}
/* WORK */
.work {
  width: 100%;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  color: #333333;
  text-align: center;
  padding: 200px 0 0 0;
}

.work-title .txts {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
/* work-content */
.work-content {
  display: flex;
}

.work-box img {
  width: 98%;
  border-radius:3%;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

.work-box img:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}
/* modal1 */
.modal1 {
  padding-bottom: 20px;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1;
}

.modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 100px 0;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  cursor: pointer;
}

.modal-cont {
  text-align: left;
  position: relative;
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;
}

.inner-top {
  background: rgba(210,210,210);
  color: #333333;
  margin-bottom: 1em;
  padding: 1em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.inner-top .txtm {
  font-size: 24px;
}

.inner-cont {
  display: flex;
  padding: 30px;
}

.inner-left {
  width: 60%;
}

.inner-left img {
  width: 100%;
  display: inline-block;
}

.inner-right {
  width: 40%;
  padding-left: 1em;
}

.isara a {
  color: blue;
}

.isara a:hover {
  text-decoration: underline;
}

.is-show {
  opacity: 1;
  visibility: visible;
}
/* blog */
.blog {
  width: 100%;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  color: #333333;
  text-align: center;
}

.blog-title {
  padding-top: 200px;
}

.blog-title .txts {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.blog-content {
  text-align: left;
  color: #333333;
  display: flex;
  justify-content: center;
}

.blog-box {
  cursor: pointer;
  margin-right: 10px;
}

.blog-boxlast {
  margin: 0;
}

.blog-box img {
  width: 100%;
  height: 70%;
  border: 1px solid rgba(210,210,210);
  opacity: 0.7;
}

.blog-text {
  width: 100%;
  color: #333333;
  padding: 10px;
  background-color: #fff;
  position: relative;
  top: -10px;
  height: 40%;
  border: 1px solid rgba(210,210,210);
}

.blog-text .txts {
  font-size: 16px;
  font-weight: bold;
}

.blog-text .txtxs {
  font-size: 14px;
}
/* view */
.view {
  text-align: center;
  margin-top: 100px;
}

.view a {
  text-decoration: none;
  color: #333333;
  padding: 10px 20px;
  background-color: rgba(230,230,230);
  border: 1px solid rgba(220,220,220);
}

.view a:hover {
  background-color: rgba(210,210,210);
}
/* contact */
.contact {
  padding-bottom: 100px;
  text-align: center;
  color: #333333;
}

.contact-title {
  padding-top: 200px;
  color: #333333;
}

.contact-title .txts {
  font-size: 24px;
  font-weight: bold;
  height: 150px;
}

.contact-text .txtxs {
  font-size: 12px;
  margin-bottom: 50px;
}

input, textarea {
  width: 400px;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 15px;
}

input {
  height: 30px;
}

button {
  width: 400px;
  background-color: rgba(230,230,230);
  border: 1px solid rgba(220,220,220);
  border-radius:30px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(210,210,210);
  color: #333333;
}
/* footer */
footer {
  padding: 50px 0;
  text-align: center;
  background-color: rgba(220,220,220);
}

.fa-twitter-square {
  font-size: 50px;
  margin-bottom: 10px;
}
/* pagetop */
#mmm {
  position: fixed;
  bottom: 90px;
  right: 30px;
  background-color: rgb(236,236,236);
  padding: 8px;
}

.fa-chevron-up {
  font-size: 30px;
}

.pageTop-chevron {
  color: black;
  padding: 8px;
}

#mmm a {
  color: black;
}
